.dashboard-page {
    height: 100vh;
    overflow-y: auto;

    @media (screen & min-width: 991px) {
        overflow: hidden;
    }
}
.dashboard-page__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 44px;
}
.dashboard-page__container.loading {
    align-items: center;
    justify-content: center;
}

.dashboard-page__row .card {
    margin-bottom: 12px;
}
.dashboard-page__row .card-header {
    background-color: transparent;
}
.dashboard-page__row .card-title {
    margin: 0;
    color: var(--color-text-primary);
}
.dashboard-page__row .card {
    padding: .6rem;
    background-color: var(--color-bg-primary);

    @media (screen & min-width: 767px) {
        padding: 1rem;
    }
}
.dashboard-page__row .card-body {
    max-height: 300px;
    height: auto;
    margin: 4px 0;
    padding: 0;
    overflow-y: auto;
}
.dashboard-page__row.single .card-body {
    max-height: 400px;
}
.dashboard-page__row .card-body::-webkit-scrollbar {
    width: 6px;
}
.dashboard-page__row .card-body::-webkit-scrollbar-thumb {
    background-color: var(--color-icon-gray);
    border-radius: 8px;
}
.dashboard-page__row .card-body::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 3px 3px 3px 3px;
}

.dashboard-page__navbar {
    flex-direction: column;

    @media (screen & min-width: 767px) {
        flex-direction: row;
    }
}
.dashboard-page__navbar .navbar-brand {
    margin-bottom: 8px;

    @media (screen & min-width: 767px) {
        margin-bottom: 0;
    }
}
.dashboard-page__navbar .navbar-brand,
.dashboard-page__navbar .navbar-text {
    padding: 0;
    line-height: 1;
}
.dashboard-page__navbar-link {
    transition: color .3s, text-decoration .3s;
    text-decoration: none;
}
a.dashboard-page__navbar-link.active,
a.dashboard-page__navbar-link:focus,
a.dashboard-page__navbar-link:hover {
    color: #17a2b8 !important;
    text-decoration: none;
}

.dashboard-page .table td {
    padding: .35rem;
    word-break: break-word;
}
.dashboard-page .table .table-row-separator {
    background-color: rgba(0,0,0,.2);
}
.dashboard-page .table td.date-cell,
.dashboard-page .table td.weekday-cell {
    white-space: nowrap;
}