:root {
    --color-text-primary: #0B032D;
    --color-text-secondary: #25242C;
    --color-text-intaractive: #3e442b;
    --color-text-intaractive-hover: #6A7062;
    --color-bg-primary: #D6EEFF;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-icon-gray: #bfc5d3;
}